<div layout="column" ng-cloak >

	<md-content class="md-no-momentum" style="    background-color: rgb(239, 248, 251);">

	<section layout="column" layout-sm="column" layout-align="center center" layout-wrap >
      <md-button class="md-raised" ui-sref="Home.Main.Edit">Edit my profile</md-button>
      <md-button class="md-raised md-warn" ng-click="delete()">Delete account</md-button>
    </section>

    <div layout="row "layout-align="end" layout-sm="column">
     	<md-button class="md-fab md-primary" aria-label="Profile" ui-sref="Home.Main.Menu">
            <md-icon>arrow_back</md-icon>
        </md-button>
    </div>

 	</md-content>

</div>  