<div>

		<md-toolbar class="md-hue-2">
      		<div class="md-toolbar-tools">
      			<i class="material-icons">&#xE85D;</i>

		        <h2  style="margin-left:15px">
		          <span >My Contacts Calendar</span>
		        </h2>
				<span flex></span>
		        <h2  style="margin-right:15px">
		          <span>Welcome {{name}}</span>
		        </h2> 

				<md-button class="md-icon-button" aria-label="Profile" ng-click='logout()'>
				<md-tooltip md-direction="down">Log out</md-tooltip>
            		<md-icon>settings_power</md-icon>
        		</md-button>
		       
      		</div>
    	</md-toolbar>


</div>
<div ui-view="downNav" flex style="    background-color: rgb(239, 248, 251);    height: 90%;">

</div>