<div layout="column" 
	 layout-padding 
	 style="padding-top:20px;background-color: rgb(239, 248, 251);" 
	 flex>

		<div class="padded card2" 
			 md-whiteframe="{{height}}" 
			 flex-sm="45" 
			 flex-gt-sm="35" 
			 flex-gt-md="25" 
			 layout layout-align="center center"  
			 ui-sref="Home.Main.Contact" 
			 ng-init="height = 1" 
			 ng-mouseenter="height = 7" 
			 -mouseleave="height = 1">	

				<img src="../../images/contats.png">  
				<h1 class="title">New contact</h1> 
		</div>

		<div class="padded card1" 
			 md-whiteframe="{{height1}}" 
			 flex-sm="45" 
			 flex-gt-sm="35" 
			 flex-gt-md="25" 
			 layout layout-align="center center" 
			 ui-sref="Home.Main.List" 
			 ng-init="height1 = 1" 
			 ng-mouseenter="height1 = 7" 
			 ng-mouseleave="height1 = 1">

				<img src="../../images/list.png">
				<h1 class="title">List your contacts</h1> 
		</div>

		<div class="padded card1" 
			 md-whiteframe="{{height2}}" 
			 flex-sm="45" 
			 flex-gt-sm="35" 
			 flex-gt-md="25" 
			 layout layout-align="center center" 
			 ui-sref="Home.Main.Edit" 
			 ng-init="height2 = 1" 
			 ng-mouseenter="height2 = 7" 
			 ng-mouseleave="height2 = 1">

				<img src="../../images/setting.png">
				<h1 class="title" style="padding-left:10px">Edit your profile</h1> 
		</div>
		
<div>
