<div ng-cloak  
     layout="column" 
     style="background-color: rgb(239, 248, 251);" 
     flex>

	<div style="padding-top: 30px; background-color: rgb(239, 248, 251); margin: 0 auto; width:30%">

  		<h2 style="text-align:center">
  		    <span >DETAIL CONTACT</span>
  		</h2>

    	<div>

    	    <div>
              <label class="col-md-4 col-form-label">Name:</label>
              <div class="col-md-8">
                <p class="form-control-static">{{ contactDetail.name }}</p>
              </div>
          </div>

          <div>
              <label class="col-md-4 col-form-label">Nickname:</label>
              <div class="col-md-8">
                <p class="form-control-static">{{ contactDetail.nickname }}</p>
              </div>
          </div>

          <div>
              <label class="col-md-4 col-form-label">Mobilephone:</label>
              <div class="col-md-8">
                <p class="form-control-static">{{ contactDetail.mobilephone  }}</p>
              </div>
          </div>

          <div>
              <label class="col-md-4 col-form-label">Phone:</label>
              <div class="col-md-8">
                <p class="form-control-static">{{ contactDetail.phone  }}</p>
              </div>
          </div>

          <div>
              <label class="col-md-4 col-form-label">Email:</label>
              <div class="col-md-8">
                <p class="form-control-static">{{ contactDetail.email  }}</p>
              </div>
          </div>

          <div>
              <label class="col-md-4 col-form-label">Address:</label>
              <div class="col-md-8">
                <p class="form-control-static">{{ contactDetail.address  }}</p>
              </div>
          </div>

      </div>
      
    </div>

    <div layout="row" 
         layout-sm="column" 
         layout-align="end center">

        <md-button class="md-raised md-primary" 
                   flex="10" flex-sm="10" 
                   ui-sref="Home.Main.List">
          <md-icon>arrow_back</md-icon>
        </md-button>
    </div>

</div>